.nav{
   position: sticky;
   top: 0;
}

#nav:hover{
    color: rgb(54, 54, 54);
    
}
#dd{
    margin-left: 100px;
}
.nino{
    background-image:linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url("../images/background.jpg");
    height: 40%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.nin{
    height: 200px;
    width: 250px;
    border-radius: 5px;
}
.jan{
    background-color: black;
}
.textColor{
    color: rgb(0, 167, 131);
    font-size: 40px;
}
.jan1{
   height:500px;
   width: 700px;
}
